nav {
    background-color: aquamarine;
}

header {
    background-color: azure;
}
section {
    background-color: brown;
}

article {
    background-color: cornsilk;
}

footer {
background-color: darkgreen;
}

h1 {
    color: darkorange;
}

h2 {
    color: gold;
}

h3 {
    color: deeppink;
}