* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

header,
section {
  padding: 120px 0;
  margin: auto;
}

.contact,
.aboutme {
  max-width: 1170px;
}

.btn,
input[type="submit"] {
  display: inline-block;
  color: #333;
  border: #007bff solid 1px;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: transparent;
}

.btn:hover,
input[type="submit"]:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #007bff;
  font-weight: 600;
  font-size: 4.2em;
  text-transform: uppercase;
}

h1::after,
h2::after {
  content: "";
  display: block;
  width: 75px;
  background-color: #007bff;
  height: 1px;
  margin: auto;
}

h2::after {
  margin: 10px auto;
}

h2 {
  color: #333;
  font-size: 1.9em;
  font-weight: 400;
}

/* HEADER */
.header {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
}

.header__text {
  color: #333;
  font-size: 1.3em;
}

.header__dot {
  color: #007bff;
}

/* NAVBAR */
.navbar {
  background-color: #007bff;
  color: white;
  padding: 20px;
}

.navbar__list {
  list-style-type: none;
  height: 100%;
  margin: 0;
}

li {
  margin: 0 25px;
  display: inline-block;
  height: 100%;
}

li:hover {
  color: #f2f1ed;
}

/* ABOUT ME */
.aboutme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
}

.aboutme__image {
  max-width: 25%;
  border-radius: 50%;
}

.aboutme__text {
  max-width: 700px;
  line-height: 1.4em;
}

/* PORTFOLIO */
.portfolio {
  background-color: #f2f1ed;
}

.portfolio__gallery {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
}

.portfolio__gallery__item {
  width: 25%;
  position: relative;
}

.overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 123, 255, 0);
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.5s, opacity 0.5s;
  transition: background-color 0.5s, opacity 0.5s;
}

.overlay__text {
  opacity: 1;
  font-size: 1.5em;
  color: white;
}

.portfolio__gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__gallery__item:hover .overlay {
  background-color: rgba(0, 123, 255, 0.8);
  opacity: 1;
}

/* CONTACT */
.contact__form {
  max-width: 700px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form__input,
.contact__form__textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: #777 1px solid;
  padding: 15px;
  margin-bottom: 10px;
  font: inherit;
}

.contact__form__input:focus,
.contact__form__textarea:focus {
  outline: solid 2px #333;
}

.contact__form__input {
  width: 49%;
}

.contact__form__textarea {
  width: 100%;
}

.contact__form__submit {
  margin: auto;
}

.contact__media {
  font-size: 3em;
  color: #007bff;
}

.socialmedia-icons {
  display: inline-block;
  margin: 50px 25px 20px 25px;
}

.socialmedia-icons:hover {
  color: #777;
}

.footer {
  background-color: #f2f1ed;
  padding: 25px;
  color: #777;
}

@media (max-width: 1200px) {
  .contact,
  .aboutme {
    max-width: 992px;
  }
}

@media (max-width: 992px) {
  .contact,
  .aboutme {
    max-width: 768px;
  }
  .portfolio__gallery {
    width: 90%;
  }
  .portfolio__gallery__item {
    width: 50%;
    font-size: 2em;
  }
}

@media (max-width: 768px) {
  .contact,
  .aboutme {
    max-width: 95%;
  }
  .aboutme__image {
    max-width: 50%;
  }
  .portfolio__gallery {
    width: 95%;
  }
  .portfolio__gallery__item {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.6em;
  }
  .aboutme__image {
    max-width: 50%;
  }
  .portfolio__gallery__item {
    width: 100%;
  }
  .contact__form__input {
    width: 100%;
  }
  .socialmedia-icons {
    margin: 50px 10px 20px 10px;
  }
  ul {
    text-align: right;
  }
  li {
    display: block;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=index.css.map */